RewriteEngine On

# ============================
# Redirect URL tanpa .php
# ============================
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# ============================
# Home page
# ============================
RewriteRule ^$ index.php [L]

# ============================
# Routing halaman
# ============================
RewriteRule ^products$ product.php [L]
RewriteRule ^gallery$ gallery.php [L]
RewriteRule ^news$ news.php [L]
RewriteRule ^home$ home.php [L]